body {
  padding: 0;
  margin: 0;
  
}
.section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}
.container {
  position: absolute;
}
.text {
  font-family: "Luckiest Guy", cursive;
  font-size: 50px;
  line-height: 1;
  color: #eaf0f0;
}

.back .text {
  opacity: 0;
}

.front {
  position: absolute;
  top: -50%;
  width: 100%;
  height: 200%;
}

.front .up,
.front .down {
  position: relative;
  height: 50%;
  overflow: hidden;
}

.up .text,
.down .text {
  position: absolute;
}
.up .text {
  top: 60%;
}
.down .text {
  top: -40%;
}
.section .single {
  top: 25%;
}
.section .single .first {
  position: relative;
  /* top: 25%; */
  margin-bottom: 15%;
}
.section .single .first .text {
  /* font-weight: 100; */
  font-size: 1.8rem;
}
.section .single .second .text {
  font-size: 2.1rem;
}
.single .text {
  font-size: 2.1rem;
}

.text3 {
  opacity: 0;
}
/* #canvas {
  width: 100vw;
  height: 100vh;
  position: fixed;
  
} */